---
const currentYear = new Date().getFullYear();
---

<footer class="p-8 flex flex-col justify-center items-center text-center gap-2">
	<a class="link" href="https://github.com/notangelmario/ciorogarla.eu.org" target="_blank">
		ciorogarla.eu.org &middot MIT {currentYear}
	</a>
	<a class="link" href="https://notangelmario.dev" target="_blank">
		Facut cu &hearts; de Savin Angel-Mario
	</a>
</footer>
